.delete-expense {
    background-color: #9fa4c4;
    padding: 1rem;
    margin: 2rem auto;
    width: 50rem;
    max-width: 95%;
    border-radius: 12px;
    text-align: center;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
}

.delete-expense button {
    font: inherit;
    cursor: pointer;
    padding: 1rem 2rem;
    border: 1px solid black;
    background-color: #ddcfd8;
    color: white;
    border-radius: 12px;
    margin-right: 1rem;
}

.delete-expense button:hover,
.delete-expense button:active {
    background-color: #835d76;
    border-color: #835d76;
}

.delete-expense button.alternative {
    color: #220131;
    border-color: transparent;
    background-color: transparent;
}

.delete-expense button.alternative:hover,
.delete-expense button.alternative:active {
    background-color: #ddb3f8;
}
